@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/AspnetCoreMarkdownBanner.jpg" alt="Markdown Monster" class="img-responsive" />
        </div>

        <div class="item">
            <a href="https://markdownMonster.west-wind.com">
                <img src="~/images/MarkdownMonster_wide.jpg" alt="Markdown Monster" class="img-responsive" />
            </a>

        </div>
    </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


<div class="row">
    <div class="col-md-6">
        <h2>Markdown Control Sample</h2>
        <ul>
            <li><a href="/markdown">Markdown Control Sample Page.</a></li>            
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Markdown Page Middleware</h2>
        <ul>
            <li><a href="/posts/2018/03/23/MarkdownTagHelper">Markdown TagHelper Post (extensionless)</a></li>
            <li><a href="/posts/2018/03/23/MarkdownTagHelper.md">Markdown TagHelper Post(.md file)</a></li>

            <li><a href="/posts/ChangeLog.md">ChangeLog (.md file)</a></li>
            <li><a href="/posts/ChangeLog">ChangeLog (extensionless)</a></li>
        </ul>
    </div>   
</div>
