@page
@model MarkdownControlModel
@using Westwind.AspNetCore.Markdown
@{
    ViewBag.Title = "Markdown TagHelper";
}
@section Headers {
    <style>
        h3 {
            margin-top: 50px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
        }
        /* vs2015 theme specific*/
        pre {
            background: #1E1E1E;
            color: #eee;
            padding: 0.7em !important;
            overflow-x: auto;
            white-space: pre;
            word-break: normal;
            word-wrap: normal;
        }

            pre > code {
                white-space: pre;
            }
    </style>
}



<h3>Markdown TagHelper Block</h3>
<markdown normalize-whitespace="true" sanitize-html="true">
    #### This is Markdown text inside of a Markdown block

    * Item 1
    * Item 2

    The current Time is: **@DateTime.Now.ToString("HH:mm:ss")**


    ![](https://markdownmonster.west-wind.com/Images/MarkdownMonster_Icon_32.png)
    This is a link to
    [Markdown Monster](https://markdownmonster.west-wind.com).

    This is an auto link:

    https://markdownmonster.west-wind.com


    ```cs
    // this c# is a code block
    for (int i = 0; i < lines.Length; i++)
    {
    line1 = lines[i];
    if (!string.IsNullOrEmpty(line1))
    break;
    }
    ```
    
    ### Rudimentary XSS Support
    Below are a script tag, and some raw HTML alert with an onclick handler which 
    are potential XSS vulnerable. Default is `sanitize-html="true"` to remove
    script and other vulnerabilities. `true` is the default.
    

    > If you didn't see an alert box when the page loaded the `<script>` was scrubbed.

    <script>
        alert("GOTHCHA! Injected code executed.")
    </script>
    
    <a href="javascript:alert('Gotcha! JavaScript: fired');">XSS Link</a>

    <div class="alert alert-info" onclick="alert('Gotcha! onclick handler fired');">
        XSS Alert: You shouldn't be able to click me and execute the onclick handler.
    </div>

     
</markdown>




<h3>Markdown Model Binding</h3>
<markdown normalize-whitespace="true" markdown="MarkdownText" />

<h3>Markdown Parsing in Razor HTML  with Markdown.ParseHtmlString()</h3>
@Markdown.ParseHtmlString("This is **Markdown Text** using the `@Markdown.ParseHtmlString()` method.")

<markdown>
    ```html
    <div>
        @@Markdown.ParseHtmlString("This is **Markdown Text** using the `@@Markdown.ParseHtmlString()` method.")
    </div>
    ```
</markdown>


<h3>Markdown Parsing in code with Markdown.Parse()</h3>

<markdown>
    ##### Parse Html in Code:
    ```cs
    var html = Markdown.Parse("This is **Markdown** Text.")
    ```
</markdown>


@section Scripts {
    <script src="~/lib/highlightjs/highlight.pack.js"></script>
    <link href="~/lib/highlightjs/styles/vs2015.css" rel="stylesheet" />
    <script>
        setTimeout(function () {
            var pres = document.querySelectorAll("pre>code");
            for (var i = 0; i < pres.length; i++) {
                hljs.highlightBlock(pres[i]);
            }
        });

    </script>
}